# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pyre/
.mypy_cache/
.dmypy.json
.pytype/
cython_debug/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
out/

# Cursor
.cursor/

# VSCode
.vscode/
.history/

/venv
/outputs
/audio_files
